{% from "bootstrap5/form.html" import render_form, render_field %}
{% extends 'base.html' %}
{% block content %}
<!-- Page Header -->
<div class="login-page-bg">
  <div class="container-fluid login-div">
      <h3 class="login-title">Sign Up</h3>
{% include 'flash.html' %}
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ render_form(form, novalidate=True) }}
        <a href="{{ url_for('auth.register') }}">Create a new account</a>
      
      </div>
    </div>
  </div> -->
  <form class="auth-form" method="POST" action="{{ url_for(request.endpoint) }}">
    {{ form.csrf_token }}
{{ render_field(form.email, placeholder="johndoe@xyz.com") }}
{{ render_field(form.password, placeholder="*****") }}
<div class="center-div btn-div">
  {{ render_field(form.submit, class='login-btn') }}
</div>
</form>
<div class="center-div new-account-div">
  <a class="new-account" href="{{ url_for('auth.login') }}">Already have an account? Login here</a>

</div>
</div>
</div>

{% endblock %}
