{% from "bootstrap5/form.html" import render_field %}
{% extends 'base.html' %}
{% block content %}

<form method="POST" action="{{ url_for('product.add_subcategory')}}" novalidate>
    {{ form.csrf_token }}
    <div class="mb-3">

    <label class="form-label" for="category_id">Category</label>

    <select class="form-select" name="category_id" id="category_id" onchange="changeHandler(event)">
        {% for category in categories %}
      <option value="{{category.id}}" {% if id == category.id %} selected {% endif %}>{{category.name}}</option>
        {% endfor %}
    </select>
    </div>
    {{ render_field(form.options) }}
    {{ render_field(form.name) }}
    {{ render_field(form.submit) }}
</form>

<script>
    function changeHandler(event) {
        event.preventDefault()
        var id = event.target.value
        window.location.href = "/product/subcategory/"+id


    }
</script>
{% endblock %}