.bg-white{
   background-color: white;
}

.form-select, .form-control{
   border: 0px;
   outline:0px;
   border-bottom: 0.5px solid black;
   border-radius: 0px;
}

.form-label{
   font-weight: 500;
}

.logo-img {
    width: 100px;
}

.search-bar{
    width: 800px;
}

.form-page-bg{
   background-color: #e63a31;
   padding: 2rem 0;
}

.form-div{
   width: 50%;
   margin: auto;
   border-radius: 30px;
   padding: 1rem 2rem;
   background-color: white;
}

.form-title{
   color: #2b2b2b;
   text-align: center;
}

.form-btn{
   margin: 1rem 0;
}

.list-group-item{
   border: 0px;
}

.product-grid{
   margin: 0px 5%;
   padding: 0px;
}

.card-container{
   padding: 0px;
}

.product-card{
   margin: 2px;
   border: 0px;
   padding: 0px;
   width: 450px !important;
}

.product-card:hover{
   cursor: pointer;
}

.product-card:hover .product-title{
 text-decoration: underline;
}

.card-btn{
   font-size: 1.3rem;
   width: 100%;
   color: white;
   background-color: #e9718b;
   border-radius: 10px;
   padding: 0.7rem;
}

.card-btn:hover{
   background-color: #df5d79;
   color: white;
   text-decoration: none;
}

.product-body{
   padding: 10px 0px;
}

.product-title{
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   color: rgb(139, 139, 139);
   font-weight: 400;
   font-size: 1.3rem;
   max-width: 100%;
}

.product-price{
   font-size: 1rem;
   font-weight: 500;
   margin-bottom: 8px;
}

.banner-container{
   padding: 20px 0;
}

.banner-img{
   width: 100%;
}

.carousel-control-next, .carousel-control-prev {
   width: 5%;
}


@media (max-width: 765px){
   .logo-img {
      width: 70px;
  }
}


@media (min-width: 575.98px) and (max-width: 765px) {
 .search-bar{
    width: 350px;
 }
 .offcanvas-item{
    border-bottom: 1px solid black;
 }
 }

@media (min-width: 767.98px) and (max-width: 990.98px) {
 .search-bar{
    width: 500px;
 }
 .offcanvas-item{
    border-bottom: 0.5px solid black;
 }
 .offcanvas-item:hover{
 background-color: #f8f9fa;
 }
 }

@media (min-width: 991.98px) and (max-width: 1199.98px) {
 .search-bar{
    width: 600px;
 }
 }

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
    .search-bar{
    width: 700px;
 }
  }


.nav-fav{
   font-size: 1.5rem;
}

.nav-item{
   text-align: center;

}

.offcanvas-item{
   text-align: left;
}


/* Login Page */

.login-page-bg{
   padding: 2rem 0;
}

.login-div{
   width: 500px;
   margin: auto;
   border-radius: 30px;
   padding: 1rem 2rem;
   background-color: white;
}

.login-title{
   font-size: 1.3rem;
   margin-bottom: 50px;
   font-weight: 200;
   color: rgba(18, 18, 18, 0.75)
}

.auth-form .form-label{
   color: rgba(18, 18, 18, 0.75);
}

.login-btn{
   font-size: 1rem;
   font-weight: 500;
   width: 50%;
   color: white;
   background-color: #e9718b;
   border-radius: 10px;
   padding: 0.7rem;
   border: 0;
}

.login-btn:hover{
   background-color: #df5d79;
   color: white;
   text-decoration: none;
}

.auth-form .form-control{
   border: 1px solid rgba(18, 18, 18, 0.5);
   font-weight: 300;;
   border-radius: 5px;
}

.center-div{
   text-align: center;
}

.btn-div{
   padding-top: 25px;
}

.new-account-div{
   padding: 15px 0;
}

.new-account{
   text-decoration: none;
   color: #df5d79;
   font-size: 0.9rem;
   font-weight: 400;
}

.new-account:hover{
   color: #b84d64;
}

