{% extends 'base.html' %}

{% block title %}Giva Jewellery{% endblock %}

{% block content %}
<div class="container-fluid banner-container">
  <img class="banner-img" src="{{ url_for('static', filename='img/index-banner.png')}}" alt="">
</div>
<div class="row product-grid">

  {% for product in products %}
  <div class="card-container col-lg-3 col-sm-6 d-flex justify-content-center">

  <div class="product-card card" style="width: 18rem;">

    <img src="{{ url_for('static', filename='img/products/') }}{% if product.img_url %}{{product.img_url}}{% else %}default.png{% endif %}" class="card-img-top" alt="">
    <div class="product-body card-body">
      <p class="product-price">{{ product.price }}</p>

      <h5 class="product-title card-title">{{ product.name }}</h5>

    </div>
    <a href="#" class="btn card-btn">Add to Cart</a>

  </div>
  </div>
{% endfor %}
</div>

{% endblock %}